# Kaggle API Credentials
# Get your credentials by going to kaggle.com -> Account Settings -> API -> Generate New Token.
# This will download a kaggle.json file containing your username and key.

KAGGLE_USERNAME=your_username_here
KAGGLE_KEY=your_api_key_here
